# Verification Set-up

Welcome!
This guide will help you set up your verification system!

## Step 1:

Run the tag `getcode_setup` on your guild and follow the directions to set up the variables we will be using.



# Basic Method
> Use this method only if you want a verification system that you don't need to tinker with, otherwise use the [Advanced Method](/guides/verification##Step%202:) 
> (You can change using the advanced or basic method at any time!)

## Step 2:
First we are going to make the verification command! This is the command users will type to receive their verification code! To make it easier to add to your server, we have made a tag that can be used, which will automatically add everything.

<iframe class="code" src="/commands/getcode.txt" width="100%" height="200" frameborder="0"></iframe>


# Advanced Method

## Step 2
